html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: 'Stardos Stencil', cursive; }

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  margin: 1.5em 0; }

a {
  font-family: 'Roboto', sans-serif; }

strong {
  font-weight: 900; }

body {
  width: 100%; }

img {
  width: 100%; }

.top-bar {
  position: fixed;
  width: 100%;
  background-color: #333; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.banner {
  padding-top: 69px;
  text-align: center; }

.bottom-bar {
  width: 100%;
  background-color: #333; }
  @media (min-width: 600px) {
    .bottom-bar {
      display: none; } }

.secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px; }

.logo {
  width: 56px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: auto; }

.nav-item {
  width: 48px;
  margin: auto; }
  .nav-item a {
    min-width: 48px;
    color: white;
    text-decoration: none;
    padding: 16.1px 0; }

.lotto {
  margin-bottom: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.lotto-ball {
  margin-top: -11.5px;
  min-width: 16px;
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  color: white;
  background-color: #a01a01;
  font-family: "Stardos Stencil", cursive;
  font-size: 14px; }

.on-large {
  display: none; }
  @media (min-width: 600px) {
    .on-large {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.main-content {
  grid-area: main;
  display: grid; }

.additional-info {
  grid-area: sidebar; }

.site-footer {
  grid-area: footer; }

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "main main main main" "sidebar sidebar sidebar sidebar" "footer footer footer footer"; }
  @media (min-width: 600px) {
    main {
      grid-template-areas: "main main main sidebar" "footer footer footer footer"; } }

.main-header {
  width: 100%; }

.news-article {
  width: 95%;
  justify-self: center; }
