html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: 'Stardos Stencil', cursive; }

.title {
  font-size: 1.3em; }

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  margin: 1.5em 0; }

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 1.2em;
  color: #a01a01; }

.excerpt {
  font-weight: 900;
  font-size: 1.2em; }

.lead-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em; }
  @media (min-width: 500px) {
    .lead-content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.lead-content-block {
  margin: 5px 10px; }
  .lead-content-block p {
    margin: 0.5em 0; }
  @media (min-width: 500px) {
    .lead-content-block {
      max-width: 400px; } }

.secondary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.secondary-content-block {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 10px 10px; }

.fixture-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%; }

.home-half {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  text-align: center;
  min-height: 105px;
  background-color: #a01a01;
  color: white;
  -ms-flex-negative: 2;
  flex-shrink: 2; }
  .home-half img {
    padding-top: 10px; }
  .home-half p {
    font-family: 'Stardos Stencil', cursive; }

.away-half {
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  text-align: center;
  min-height: 105px;
  background-color: #333;
  color: white;
  -ms-flex-negative: 2;
  flex-shrink: 2; }
  .away-half img {
    padding-top: 10px; }
  .away-half p {
    font-family: 'Stardos Stencil', cursive; }

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 105px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #a01a01), color-stop(50%, #333));
  background-image: linear-gradient(to right, #a01a01 50%, #333 50%);
  color: white;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .divider .lotto-ball {
    margin: 30% 0;
    padding: 10px;
    font-size: 2em;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #a01a01), color-stop(50%, #333));
    background-image: linear-gradient(to left, #a01a01 50%, #333 50%); }

.lotto-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }
  .lotto-large .lotto-ball {
    margin: 10px 5px;
    padding: 12px;
    font-size: 1.2em;
    border-color: #333; }

body {
  width: 100%; }

img {
  max-width: 100%; }

.remove-margin {
  margin: 0 -10px;
  z-index: 5; }

.top-bar {
  position: fixed;
  width: 100%;
  background-color: #333; }

.main-nav {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.banner {
  display: grid;
  padding-top: 69px;
  justify-items: center; }

.bottom-bar {
  width: 100%;
  background-color: #333; }
  @media (min-width: 600px) {
    .bottom-bar {
      display: none; } }

.secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.logo {
  width: 56px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: auto; }

.nav-item {
  min-width: 48px;
  margin: auto; }
  .nav-item a {
    min-width: 48px;
    color: white;
    text-decoration: none;
    padding: 16.1px 0; }

.lotto {
  margin-bottom: -29.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (min-width: 600px) {
    .lotto {
      margin-right: 5vw; } }

.lotto-ball {
  margin-top: -6.9px;
  min-width: 16px;
  text-align: center;
  padding: 8px;
  border-radius: 50%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  color: white;
  background-color: #a01a01;
  font-family: "Stardos Stencil", cursive;
  font-size: 14px; }

.on-large {
  display: none; }
  @media (min-width: 600px) {
    .on-large {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
