html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%; }

img {
  width: 100%; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 48px 1fr 1fr 1fr 48px; }

.main-nav {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #333; }

.banner-main {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #a01a01; }

.banner-sub {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 3; }

.banner-info {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 4; }

.secondary-nav {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 5;
  background-color: #333; }

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.lotto-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.news {
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1fr 1em; }

.headline {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 1; }

.feature-image {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2; }

.excerpt {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 3; }

.article {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 4; }

.nav-item a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none; }

.banner-main {
  font-family: "Stardos Stencil", cursive;
  font-size: 2em; }

.banner-sub {
  font-family: "Stardos Stencil", cursive;
  font-size: 1.2em; }

.banner-info {
  font-family: "Stardos Stencil", cursive; }

article h1 {
  font-family: "Stardos Stencil", cursive;
  font-size: 1.5em;
  padding: 0.75em 0; }

article p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.75em 0; }
  article p strong {
    font-weight: 900; }
