---
layout: base
---
<section class="article-list">
  <article class="lead-article">
  {% for post in site.posts limit: 1 %}
    <a href="{{ post.url }}">
      <img src="{{ post.feature-image | replace: '.', '-small.' }}" alt="{{ post.title }}">
    </a>
    <h1>{{ post.title }}</h1>
    <p>{{post.excerpt | strip_html}}</p>
  {% endfor %}
  </article>
  <article class="secondary-articles">
  {% for post in site.posts limit: 10 offset: 1 %}
    <div class="secondary-article">
      <a href="{{ post.url }}">
        <img src="{{ post.feature-image | replace: '.', '-small.' }}" alt="{{ post.title }}">
        <h1>{{ post.title }}</h1>
      </a>
    </div>
  {% endfor %}
  </article>
</section>

<h2>Next Game</h2>
{% assign outstanding = site.fixtures | where: 'status', 'outstanding' | sort: 'match-date' %}
  <ul>
{% for match in outstanding limit: 1 %}
    <li>{{ match.match-date }} - {{ match.home-team }} v {{ match.away-team }} - {{ match.status }}</li>

    {% assign previews = site.posts | where: 'category', 'preview' %}
    {% for fixture in previews %}
    {% if match.match-date == fixture.match-date %}
    <a href="{{ fixture.url }}">Read the match preview</a>
    {% endif %}
    {% endfor %}
{% endfor %}
  </ul>

  <h2>Latest Result</h2>
  {% assign completed = site.fixtures | where: 'status', 'completed' | sort: 'match-date' %}
    <ul>
  {% for match in completed limit: 1 %}
      <li>{{ match.match-date }} - {{ match.home-team }} {{ match.home-team-score }}-{{ match.away-team-score }} {{ match.away-team }} - {{ match.status }}</li>

      {% assign report = site.posts | where: 'category', 'report' %}
      {% for fixture in report %}
      {% if match.match-date == fixture.match-date %}
      <a href="{{ fixture.url }}">Read the match report</a>
      {% endif %}
      {% endfor %}
  {% endfor %}
    </ul>

<h2>Cattachs Lotto</h2>
{% assign lotto = site.posts | where: "category", "lotto" %}

{% for results in lotto limit: 1 %}
<span>{{ results.draw-date }} -- {{ results.first-lotto-number }} - {{ results.second-lotto-number }} - {{ results.third-lotto-number }} - {{ results.fourth-lotto-number }} - {{ results.fifth-lotto-number }}</span>
<p>Next week's Bonus £{{ results.bonus }}</p>
<p>Next week's Jackpot £{{ results.jackpot }}</p>
{{ results.excerpt }}
{% endfor %}

<h2>Sponsors Spotlight</h2>
<p>A section highlight one of our sponsors ... linked to a Sponsors page</p>
<p>The Sponsor spotlight article will also appear as a news item ... for quiet news weeks</p>

<h2>Shop</h2>
<p>A section highlight our online sales ... </p>
<p>Not sure how this will look yet? a featured product that leads visitors to the online shop?</p>

<h2>Player Spotlight</h2>
<p>A section highlight one of our squad ... linked to a squad page</p>
<p>The player spotlight article will also appear as a news item ... for quiet news weeks</p>
