---
layout: base
---
  <article class="lead-content">
  {% for post in site.posts limit: 1 %}
    <div class="lead-content-block">
      <a href="{{ post.url }}">
        <img src="{{ post.feature-image | replace: '.', '-large.' }}" alt="{{ post.title }}">
      </a>
    </div>
    <div class="lead-content-block">
      <a href="{{ post.url }}">
        <h1 class="title">{{ post.title }}</h1>
      </a>
      <p>{{post.excerpt | strip_html}}</p>
    </div>
  {% endfor %}
  </article>
  <section class="secondary-content">
  {% for post in site.posts limit: 6 offset: 1 %}
    <div class="secondary-content-block">
      <a href="{{ post.url }}">
        {% if post.feature-image %}
        <img src="{{ post.feature-image | replace: '.', '-thumbnail.' }}" alt="{{ post.title }}">
        {% else %}
        <img src="http://via.placeholder.com/135x90" alt="{{ post.title }}">
        {% endif %}
      </a>
      <a href="{{ post.url }}">
        <h1>{{ post.title }}</h1>
      </a>
      {{ post.description }}
    </div>
  {% endfor %}
</section>

  <hr>
<section>
  {% assign outstanding = site.data.fixtures %}
  {% for match in outstanding.fixtures limit: 1 %}
  <div  class="fixture-block">
    <div class="home-half">
      <img src="/images/articles/{{ match.home-team | replace: " ", "-" | downcase }}-small.png" alt="" width="90px;">
      <p>{{ match.home-team | upcase }}</p>
    </div>
    <div class="divider">
      <p class="lotto-ball">VS</p>
      <p class="remove-margin"><datetime="{{match.date}}">{{ match.date | date: "%e %b, '%y" }}</datetime></p>
      <p class="remove-margin"><time>{{ match.kickoff }}</time></p>
      {% for club in site.clubs %}
      {% if match.home-team == club.title %}
      <p class="remove-margin">{{ club.ground }}</p>
      {% endif %}
      {% endfor %}
    </div>
    <div class="away-half">
      <img src="/images/articles/{{ match.away-team | replace: " ", "-" | downcase }}-small.png" alt="" width="90px;">
      <p>{{ match.away-team | upcase }}</p>
    </div>
  </div>
  {% endfor %}
</section>
<br>
<hr>
<br>
{% assign lotto = site.posts | where: "category", "lotto" %}
{% for results in lotto limit: 1 %}
<ul class="lotto lotto-large">
  {% for number in results.winning-numbers %}
  <li class="lotto-ball">{{ number }}</li>
  {% endfor %}
</ul>
<p>Next week's Bonus £{{ results.bonus }}</p>
<p>Next week's Jackpot £{{ results.jackpot }}</p>
{{ results.excerpt }}
{% endfor %}

<hr>

<h2>Sponsors Spotlight</h2>
<p>A section highlight one of our sponsors ... linked to a Sponsors page</p>
<p>The Sponsor spotlight article will also appear as a news item ... for quiet news weeks</p>

<h2>Shop</h2>
<p>A section highlight our online sales ... </p>
<p>Not sure how this will look yet? a featured product that leads visitors to the online shop?</p>

<h2>Player Spotlight</h2>
<p>A section highlight one of our squad ... linked to a squad page</p>
<p>The player spotlight article will also appear as a news item ... for quiet news weeks</p>
