---
layout: base
---
{% comment %} This section appears to be pretty much finished though the css needs adjusted to prevent a single orphan flexbox secondary article and a reponsive image block needs added {% endcomment %}
<article class="lead-content">
  {% for post in site.posts limit: 1 %}
  <div class="lead-content-block">
    <a href="{{ post.url }}">
      <img src="{{ post.feature-image | replace: '.', '-large.' }}" alt="{{ post.title }}">
    </a>
  </div>
  <div class="lead-content-block">
    <a href="{{ post.url }}">
      <h1 class="title">{{ post.title }}</h1>
    </a>
    <p>{{post.excerpt | strip_html}}</p>
  </div>
  {% endfor %}
</article>
<section class="secondary-content">
  {% for post in site.posts limit: 6 offset: 1 %}
  <div class="secondary-content-block">
    <a href="{{ post.url }}">
      {% if post.feature-image %}
      <img src="{{ post.feature-image | replace: '.', '-thumbnail.' }}" alt="{{ post.title }}">
      {% else %}
      <img src="http://via.placeholder.com/135x90" alt="{{ post.title }}">
        {% endif %}
    </a>
    <a href="{{ post.url }}">
      <h1>{{ post.title }}</h1>
    </a>
    {{ post.description }}
  </div>
{% endfor %}
<hr>
</section>
  {% comment %} Lots to do here ... the logic between fixtures and clubs needs tidied {% endcomment %}
<section>
  {% assign fixtures = site.data.fixtures.current %}
  {% for match in fixtures reversed %}
    {% unless match.home-score %}
      {% capture home-team %}{{ match.home-team }}{% endcapture %}
      {% capture away-team %}{{ match.away-team }}{% endcapture %}
      {% capture competition %}{{ match.competition }}{% endcapture %}
      {% capture date %}{{ match.date }}{% endcapture %}
      {% capture hospitality %}{{ match.hospitality }}{% endcapture %}
    {% endunless %}
  {% endfor %}

  <div  class="fixture-block">
    <div class="fixture-banner">
      <h2>NEXT UP</h2>
    </div>
    <div class="fixture-details">
      <ul>
        <li><h3>{{ date | date_to_long_string }}</h3></li>
        <li>{{ competition }}</li>
        <li>{{ home-team }}</li>
        <li>vs</li>
        <li>{{ away-team }}</li>
        {% if hospitality == 'true' %}
        <button type="button" name="button">Book Hospitality</button>
        {% endif %}
      </ul>
    </div>
  </div>
</section>

<hr>

{% assign lotto = site.posts | where: "category", "lotto" %}
{% for results in lotto limit: 1 %}
<h2 class="section-title">Lotto</h2>
<ul class="lotto lotto-large">
  {% for number in results.winning-numbers %}
  <li class="lotto-ball">{{ number }}</li>
  {% endfor %}
</ul>
<section class="lotto-details">
  <p>Next week's Bonus £{{ results.bonus }}</p>
  <p>Next week's Jackpot £{{ results.jackpot }}</p>
  <button type="button" name="button">Play the Lotto</button>
</section>
{% endfor %}

<hr>

<section>
  {% assign completed = site.data.fixtures.current %}

  {% for match in fixtures %}
    {% if match.home-score %}
      {% capture home-team %}{{ match.home-team }}{% endcapture %}
      {% capture away-team %}{{ match.away-team }}{% endcapture %}
      {% capture competition %}{{ match.competition }}{% endcapture %}
      {% capture date %}{{ match.date }}{% endcapture %}
      {% capture home-score %}{{ match.home-score }}{% endcapture %}
      {% capture away-score %}{{ match.away-score }}{% endcapture %}
    {% endif %}
  {% endfor %}
{% if home-score %}
<h2 class="section-title">Latest Result</h2>
  <div  class="fixture-block">
    <div class="home-half">
      <img src="/images/assets/badges/{{ home-team | replace: " ", "-" }}.png" alt="" height="90px;">
    </div>
    <div class="away-half">
      <img src="/images/assets/badges/{{ away-team | replace: " ", "-" }}.png" alt="" height="90px;">
    </div>
    <div class="">
      <p>{{ home-team }} {{ home-score }} - {{ away-score }} {{ away-team }}</p>
    </div>
  </div>
{% endif %}
</section>
<hr>
<h2>Sponsors Spotlight</h2>
<p>A section highlight one of our sponsors ... linked to a Sponsors page</p>
<p>The Sponsor spotlight article will also appear as a news item ... for quiet news weeks</p>

<h2>Shop</h2>
<p>A section highlight our online sales ... </p>
<p>Not sure how this will look yet? a featured product that leads visitors to the online shop?</p>

<h2>Player Spotlight</h2>
<p>A section highlight one of our squad ... linked to a squad page</p>
<p>The player spotlight article will also appear as a news item ... for quiet news weeks</p>
