<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500i,900|Stardos+Stencil:700" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <img class="logo" src="/images/assets/logo.png" alt="">
      <h1 class="site-title">{{ site.title }}</h1>
      <h2 class="site-sub-title">Since 1878</h2>
      <section class="lotto">
        {% assign lotto = site.posts | where: "category", "lotto" %}
        {% for results in lotto limit: 1 %}
        <ul class="lotto-numbers">
          {% for number in results.winning-numbers %}
          <li class="lotto-balls">{{ number }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </section>
    </header>
    <main>
      <section class="main-content">
        {{ content }}
      </section>
    </main>
    <section class="additional-info">
      <p>A sidebar with extra site-wide info</p>
    </section>
    <footer class="site-footer">
      <p>This is the main site footer</p>
      {% include common/sponsor-area.html %}
    </footer>
  </body>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</html>
