<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900|Stardos+Stencil:700" rel="stylesheet"> 
  </head>
  <body>
    <header>
      {% include common/main-nav.html %}
      {% include common/banner.html %}
      {% include common/secondary-nav.html %}
    </header>
    <main>
      <section class="main-content">
        {{ content }}
      </section>
    </main>
    <footer>
      {% include common/sponsor-area.html %}
    </footer>
  </body>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</html>
