---
layout: base
---
<article>
  <header class="news-header">
    <h1 class="title">{{ page.title | upcase }}</h1>
    {% if page.feature-image %}
    <img class="feature-img" src="small-{{ page.feature-image }}" alt="">
    {% else %}
    <img src="/build/images/uploads/image-placeholder.png" alt="">
    {% endif %}
  </header>
  <section class="news-article">
    <p class="excerpt"><strong>{{ page.excerpt | strip_html | strip_newlines }}</strong></p>
    <section class="article-body">
      {{ content | remove: page.excerpt }}
    </section>
    <aside class="">
      <p>This is the related content</p>
    </aside>
    <footer class="meta-info">
      <p>It was written on {{ page.date }}</p>
      <p>This is posted under {{ page.category }} news</p>
      <p>It mentions {{ page.tags }}</p>
      <p>It can be linked to an event on {{ page.linked-date }}</p>
    </footer>
  </section>
</article>
<aside class="">

</aside>
