---
layout: base
---
<article class="news">
  <section class="headline">
    <h1>{{ page.title }}</h1>
  </section>
  <section class="feature-image">
    {% if page.feature-image %}
    <img src="{{ page.feature-image }}" alt="">
    {% else %}
    <img src="/build/images/uploads/image-placeholder.png" alt="">
    {% endif %}
  </section>

  <section class="excerpt">
    <p><strong>{{ page.excerpt | strip_html | strip_newlines }}</strong></p>
  </section>

  <section class="article">
    {{ content | remove: page.excerpt }}
  </section>

</article>
<aside class="">
  <p>It was written on {{ page.date }}</p>
  <p>This is posted under {{ page.category }} news</p>
  <p>It mentions {{ page.tags }}</p>
  <p>It can be linked to an event on {{ page.linked-date }}</p>
</aside>
